<h1><%= @newsletter.subdomain %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for issue <- @issues do %>
      <tr>
        <td><%= link issue.title, to: SubdomainRoutes.subdomain_issue_path(@conn, :show, issue) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
