<h1>Subdomain <%= @subdomain %> Listing Issues</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for issue <- @issues do %>
    <tr>
      <td><%= issue.title %></td>

      <td>
        <span><%= link "Show", to: Routes.subdomain_issue_path(@conn, :show, issue) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
